#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;    
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}

/*
 * CUSTOM STYLES
 */

 .bg-primary-dark-blue {
  background-color: #041E42 !important;
}

.bg-primary-light-gray {
  background-color: #FBFBFB;
}

#sidebar-container .list-group .sidebar-submenu a.big-nav-option {
  height: 65px;
}

.data-table-left {
  width: 70%
}

.data-table-right {
  width: 30%;
  text-align: right;
}

.data-table-definition-header-right {
  text-align: right;
}

.data-table-definition-left {
  width: 20%;
}

.data-table-definition-logic {
  width: 40%;
}

.data-table-definition-filter {
  width: 20%;
}

.data-table-definition-date {
  width: 20%;
}

.data-table-right-half {
  width: 15%;
  text-align: right;
}

.table th:first-child {
  border-top: none;
}

.table.table-definitions th:first-child {
  border-top: 1px solid #dee2e6;
  /* padding: 10px 5px; */
}

.section-heading {
  margin-left: -18px;
}

.section-heading a {
  color: #0056b3;
}

.section-heading a:hover {
  color: #0056b3;
  background-color: #FFF;
}